:root {
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFFFFF;
    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-400: #676D7E;
    --grey-500: #48556A;
    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;
}



.text-preset-1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
}

.text-preset-2{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
}

.text-preset-3{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr 2fr;
}

img{
    width: 2.8rem;
    height: 2.8rem;
    border: solid 0.2rem;
    border-radius: 50%;
}


.card-1{
    background-color: var(--purple-500);
}
.card-1 img{
    border-color: var(--purple-300);
}
.card-1 .autor{
    color: var(--white);
}
.card-1 .graduate{
    color: var(--purple-50);
}
.card-1 section p{
    color: var(--purple-50);
}



.card-2{
    background-color: var(--grey-500);
}
.card-2 img{
    border-color: var(--grey-500);
}

.card-3{
    background-color: var(--white);
}
.card-3 img{
    border-color: var(--white);
}

.card-4{
    background-color: var(--dark-blue);
}
.card-4 img{
    border-color: var(--purple-500);
}

.card-5{
    background-color: var(--white);
}
.card-5 img{
    border-color: var(--white);
}